@font-face {
  font-family: 'din';
  src:url('./..fonts/DIN Condensed Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'light';
  src:url('./../fonts/IgniteTheLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}