@font-face {
  font-family: 'din';
  src:url('fonts/DINCondensedBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'light';
  src:url('fonts/IgniteTheLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'franklin';
  src:url('fonts/FranklinGothicBook.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'franklinItalic';
  src:url('fonts/FranklinGothicBookItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}